{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "max-lines-per-function": ["error", { "max": 120 }],
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "no-restricted-syntax": [
      "error",
      {
        "message": "Banned `exit` function. Please exit execution through return statements so as to not skip telemetry.",
        "selector": "MemberExpression > Identifier[name=\"exit\"]"
      }
    ]
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"]
}
